.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding-top: 2px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.sun svg {
    fill: rgb(207, 193, 0);
    height: 20px;
}