.button {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding-top: 2px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: rgb(74, 75, 145);
}

.light {
    background-color: rgb(60, 62, 170);
}


.moon svg {
    fill: rgb(255, 255, 255);
    height: 20px;
}


.sun svg {
    fill: rgb(207, 193, 0);
    height: 20px;
}