html,
body {
  color: var(--black);
  padding: 0;
  margin: 0;
  background: #F5f6f8;
  font-family: "Noto Sans", sans-serif;
}

.dark {
  background: #1a2233;
  --black: #b1aaaa;
  --white: rgb(40, 39, 44);
  --gray-light: #dfc7c7;
  --blue-card: rgb(70, 68, 77);
  --gray: #535050;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray-light: #dfc7c7;
  --blue-card: #F9F8FF;
  --gray: #a4a4a4;
  --gray-dark: #787D85;
  --white: #fff;
  --primary: #19a119;
  --primary-hover: #044d04;
  --red: #c41e1e;
  --red-light: #f09076;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans", sans-serif;
}
